{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  
  {% set block_url = node.field_link_more[0].uri %}
  {% set title_url = content.field_link_more.0['#title'] %}
  {% set target_url = content.field_link_more.0['#options']['attributes']['target'] %}

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ block_url }}" rel="bookmark" target="{{ target_url }}">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <a href="{{ file_url(block_url) }}" target="{{ target_url }}">
  {% if node.field_block_image[0] is not empty %}
    {% set imagestyle = {
      '#theme':      'image_style',
      '#style_name': 'medium',
      '#uri':        node.field_block_image[0].entity.uri.value,
      '#alt':        node.field_block_image[0].alt,
      '#attributes': { class: 'block-image' },
    } %}
     
    {{ imagestyle }}
    
  {% else %}
    <div class="custom_block_bg">
      <div class="custom_block">
      {% if content.field_quote_author is not empty or content.field_quote_ is not empty %}
        <div class="custom_block_info">
        {% if content.field_quote_author is not empty %}
          <div class="custom_block_author custom_block_text">
            {% set quote_author = node.field_quote_author.value %}
            {{ quote_author }}  
          </div> <!-- end custom_block_author -->
        {% endif %}
        {% if content.field_quote_subscript is not empty %}
          <div class="custom_block_subscript custom_block_text">
            {% set quote_subscr = node.field_quote_subscript.value %}
            {{ quote_subscr }}  
          </div> <!-- end custom_block_subscript -->
        {% endif %}
        {% if content.field_quote is not empty %}
          {% set quote = node.field_quote.value %}
          <h3>{{ quote }}</h3>
        {% endif %}
        </div> <!-- end custom_block_info -->
      {% endif %}
    
      </div> <!-- end custom_block -->
    </div> <!-- end custom_block_bg -->
  {% endif %}
  </a>
  <div>
  {% if content.field_display_text is not empty %}
    {% set display_text = node.field_display_text.value|raw %}
    {{ display_text|truncate(130, true, '....') }} 
    <a href="{{ file_url(block_url) }}" style="display:inline" target="{{ target_url }}">{{ title_url }}</a>
  {% endif %}
  </div>
  <?php 
 
?>
</article>
